h2 
{
    text-align:center;
}
body {
    background-image: url(../images/uefa.jpg);
}
#wynik 
{
    background-color: coral;
    text-align:center;

}
.right-side-button{
  float:right;
  margin-right: 5px;
}
.kontener 
{   
    float: center;
   margin-top: 10px;
   background-color: white;
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px; 
  

}
.kontenerZew 
{  
    padding:20px 20px 20px 20px;
   background-color: white;
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;  
   border-top:solid;
   border-bottom: solid;
   border-left: double;
   border-right: double;
}
#d1
{
    text-align:center;
  
}
#d2
{
    text-align:center;
}
#meczeRozegrane 
{
    text-align:center;
}
#pilka 
{
    text-align:center;
    
}
#tabelaLigi
{

}

.black
{
    color:black;
}